<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".model.AlmacenApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppAlmacen">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



        <!-- Pantalla de inicio que decide si vas a Login o a Main -->
        <activity
            android:name=".view.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activities.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".view.activities.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".view.activities.MainActivity"
            android:exported="false" />

        <activity android:name=".view.activities.SelectUserActivity" />

        <activity
            android:name=".view.activities.NewProductActivity"
            android:exported="false"
            android:label="Añadir Producto" />



    </application>

</manifest>